body{
  background-image: url('./images/wallpapersden.com_firewatch-4k-uhd_1366x768.jpg');
  height: 100vh4;
  background-size: cover;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

#DatosUser{
  position: absolute;
  top: 30px;
  left: 10px;
}
#RangoFecha{
  position: absolute;
  top: 350px;
  left: 10px;
}
#Dashboard{
  position: absolute;
  top: 50px;
  right: 10px;
}
#BtnGraph{
  position: absolute;
  top: 5px;
  right: 105px;
}
#BtnLogOut{
  position: absolute;
  top: 5px;
  right:5px;
}
#BtnHome{
  position: absolute;
  top: 5px;
  right: 5px;
}

#ActualizarGraph{
  position: absolute;
  top: 5px;
  right: 80px;
}
#GraphP{
  position: absolute;
  top: 30px;
}

.texthelp{
  color: white;
}